.mt-10{
	margin-top: 7rem !important
}

.jumbotron{
	background-color: indigo !important;
}

h4{
	font-size: 1em;
}

h4-p{
	font-size: 0.9em;
}

h5{
	font-size: 0.7em;
}

.fa-star{
	color: darkorange;
	font-size: 10px;
}

.costum-btn {
	background-color: darkgrey;
	width: 30px;
	height: 30px;
}

.badge{
	width: 2px;
	height: 2px;
}